<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eisgroup.hrcrm" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskTypeScreen"
            android:label="Task Creation"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eisgroup.hrcrm.MainScreen" />
        </activity>
        <activity
            android:name=".RecruitmentScreen"
            android:label="@string/title_activity_recruitment_screen"
            android:parentActivityName=".TaskTypeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskTypeScreen" />
        </activity>
        <activity
            android:name=".CandidatesScreen"
            android:label="@string/title_activity_candidates_screen"
            android:parentActivityName=".TaskTypeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskTypeScreen" />
        </activity>
        <activity
            android:name=".MarketingScreen"
            android:label="@string/title_activity_marketing_screen"
            android:parentActivityName=".TaskTypeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskTypeScreen" />
        </activity>
        <activity
            android:name=".PerformanceScreen"
            android:label="@string/title_activity_performance_screen" >
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".TaskViewScreen"
            android:label="@string/title_activity_task_view_screen"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eisgroup.hrcrm.MainScreen" />
        </activity>
    </application>

</manifest>
